.page {
    width: 210mm;
    height: 290mm;
    margin: auto;
    border: 1px solid #ddd;
    background: #fff;
}

.setting {
    border-radius: 0;
    font-size: 12px;
}

.setting label {
    font-weight: normal;
}

.designer {
    overflow: hidden;
}

.dt {
    position: absolute;
    border: 1px dotted;
    cursor: pointer;
}

.text {
    width: 15mm;
    white-space: nowrap;
}

.richText {
    width: 35mm;
}